<div class="login-container">
  <mat-card style="padding: 20px; width: 500px;">
    <mat-card-header style="padding: 20px;">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex-center">
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput type="text" [(ngModel)]="usuario">
        <button *ngIf="usuario" matSuffix mat-icon-button (click)="usuario=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="text" [(ngModel)]="senha">
        <button *ngIf="senha" matSuffix mat-icon-button (click)="senha=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="realizarLogin()">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div>

